@import 'react-big-calendar/lib/css/react-big-calendar.css';

.rbc-calendar {
  width: 100%;
}

.rbc-events-container {
  margin: 0 !important;
  padding-inline: 10px !important;
}

.rbc-event {
  padding: 6px;
  border-radius: 6px;
  width: auto !important;
  left: 5px !important;
  right: 5px !important;
}
